.main-footer {
  color: white;
  background-color: #0c0b0b;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;

}
.ic{
  float: left;
  padding: 2px;

}
.content

{

  position:absolute;

}

.box div{

  width: fit-content;

  display: inline;

  position: relative;

}
.col-sm{
  text-align: center;
}